#### Pandas文本格式数据处理

read_csv 默认分隔符为， <br>
read_table 默认分隔符为\t <br>
read_swf 读取固定宽列格式数据 <br>
read_clipboard <br>

In [7]:
%pycat data1.csv
import pandas as pd

In [9]:
pd.read_csv("data1.csv")

   11  12  13  14
0  21  22  23  24
1  31  32  33  34

In [13]:
pd.read_table("data1.csv",sep=",",header=None)

    0   1   2   3
0  11  12  13  14
1  21  22  23  24
2  31  32  33  34

In [20]:
pd.read_csv("data1.csv",index_col="12")

    11  13  14
12
22  21  23  24
32  31  33  34

In [21]:
#指定多列层次化索引
pd.read_csv("data1.csv",index_col=["12","13"])

       11  14
12 13
22 23  21  24
32 33  31  34

In [25]:
#文件中的NA代表空
data=pd.read_csv("data2.csv",header=None)
pd.isnull(data)

       0      1      2      3      4
0  False  False  False  False  False
1  False   True  False  False   True
2  False  False  False  False  False

In [28]:
#大文件读取
pd.read_csv("data_big.csv",nrows=5)
data.to_csv("data3.csv",sep="|")

   11    12  13  14  14.1
0  21   NaN  23  24   NaN
1  31  32.0  33  34  14.0
2  41  12.0  13  14  14.0
3  51   NaN  23  24   NaN
4  61  32.0  33  34  14.0